# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Streamlit Cache
.streamlit/

# Model Files
*.pkl
*.npy

# OCR
tesseract/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log